{% extends 'base.html'%}
{% block title %} Image Comment {%endblock%}
{% block content %}

<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#" onclick="self.location.href='/index/'">首頁</a>
            <li role="presentation"><a href="#" onclick="self.location.href='/upload/'">上傳圖片</a>
            <li role="presentation" class="active"><a href="#" onclick="event.preventDefault()" style="cursor:default">瀏覽圖片</a>
            <li role="presentation"><a href="#">關於我們</a>
        </ul>
    </nav>
    <h3 class="text-muted">旁白沒有極限</h3>
</div>
<div class="jumbotron">
    <p class="lead">快來看看鄉民們設計了什麼對白！
</div>
<table class="browse_images table table-bordered table-striped" rules="all" cellpadding='5'>
    <thead>
    <tr>
        <!-- <th>流水號</th> -->
        <th>標題</th>
        <!-- <th>content</th> -->
        <th>上傳時間</th>
        <th>圖片連結</th>
        <th>查看設計旁白</th>
    </tr>
	</thead>

	<tbody>
    {% for img in images %}
    {% if img.imageUrl != "None" %}
    <tr>
        <!-- <td>{{img.id}}</td> -->
        <td>{{img.title}}</td>
        <!-- <td>{{img.content}}</td> -->
        <td>{{img.uploadTime}}</td>
        {% if img.imageUrl == "None" %}
            <td>None</td>
        {% else %}
            <td><a href="{{img.imageUrl}}">{{img.imageUrl}}</a></td>
        {% endif %}
        <td><a href="/comment/{{img.id}}/">View Comments</a></td>
    </tr>
    {% endif %}
    {% endfor %}
	</tbody>

</table>

{%endblock%}
