{% extends 'base.html'%}
{% block title %} Image Comment {%endblock%}
{% block content %}

<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#" onclick="self.location.href='/index/'">首頁</a>
            <li role="presentation"><a href="#" onclick="self.location.href='/upload/'">上傳圖片</a>
            <li role="presentation"><a href="#" onclick="self.location.href='/browse/'">瀏覽圖片</a>
            <li role="presentation"><a href="#">關於我們</a>
        </ul>
    </nav>
    <h3 class="text-muted">旁白沒有極限</h3>
</div>
<div class="jumbotron">
    <p class="lead" style="font-weight: bold;">{{ image.title }}</p>
    <br>
    <img src="/static/img/0eb213c498956d25583179f60f703a5b.jpg" style="width: 100%">
    <!-- <img src="{{ image.origFile }}"> -->
    <br><br>
    <div class="row marketing">
        <div class="col-xs-2">
            <button class="btn btn-default" id="btn-left" style="text-align: center"/>《</button>
        </div>
        <div class="col-xs-8" style="height: 60px; text-align: center; border: 1px solid; border-color: #CCC; border-radius: 4px; background-color: #FFF">
            <h2></h2>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-default" id="btn-right" style="text-align: center"/>》</button>
        </div>
    </div>
    <div>
        <h4 style="text-align: center; margin-bottom: 20px">亦可使用方向鍵（←、→）切換設計旁白</h4>
    </div>
</div>


{%endblock%}

{% block script %}
<script>
    var comments = ['hihi', 'haha', 'kerker'];
    var comments_nums = comments.length;
    var index = 0;
    $('h2').text(comments[index]);
    $(function(){
        $('html').keyup(function(e){
            if (e.keyCode == 37) {
                index -= 1;
                if (index < 0) {
                    index = comments_nums - 1;
                }
                $('h2').text(comments[index]);
            } else if (e.keyCode == 39) {
                index += 1;
                if (index >= comments_nums) {
                    index = 0;
                }
                $('h2').text(comments[index]);
            }
        });
        $('#btn-left').click(function(e){
            index -= 1;
            if (index < 0) {
                index = comments_nums - 1;
            }
            $('h2').text(comments[index]);            
        })
        $('#btn-right').click(function(e){
            index += 1;
            if (index >= comments_nums) {
                index = 0;
            }
            $('h2').text(comments[index]);           
        })
    })
</script>
{%endblock%}
