{% extends 'base.html'%}
{% block title %} Image Comment {%endblock%}
{% block content %}

<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#" onclick="event.preventDefault()" style="cursor:default">首頁</a>
            <li role="presentation"><a href="#" onclick="self.location.href='/upload/'">上傳圖片</a>
            <li role="presentation"><a href="#" onclick="self.location.href='/browse/'">瀏覽圖片</a>
            <li role="presentation"><a href="#">關於我們</a>
        </ul>
    </nav>
    <h3 class="text-muted">旁白沒有極限</h3>
</div>
<div class="jumbotron">
    <h1>圖片旁白自由發揮</h1>
    <p class="lead">想要設計旁白的圖片？<br>靠強大的鄉民們來幫你設計對白吧！
    <p><a class="btn btn-lg btn-success" href="#" role="button" onclick="self.location.href='/upload/'">我要上傳</a>
</div>
<div class="row marketing">
    <div>
        <div class="col-xs-3">
        </div>
        <div class="col-xs-6">
            <h3 style="text-align: center; margin-top: 10px; margin-bottom: 20px">最新圖片</h3>
        </div>
        <div class="col-xs-3">
            <a class="btn btn-lg btn-info" href="#" role="button" onclick="self.location.href='/browse/'">瀏覽更多 》》</a>
        </div>
    </div>
    <div class="col-sm-6">
        <h4 style="font-weight: bold; text-align: center">熊熊烈火</h4>
        <a href="/comment/20/"><img src="/static/2015-12-27/QnhatCUlbBFOjOGsdikPQqYKwLQ8RLokj0YfW1ut.jpg" style="width: 100%"></a>
<!--         <h4 style="font-weight: bold; text-align: center">圖片標題</h4>
        <a href="#"><img src="/static/img/example.jpg" style="width: 100%"></a>
        <h4 style="font-weight: bold; text-align: center">圖片標題</h4>
        <a href="#"><img src="/static/img/example.jpg" style="width: 100%"></a> -->
    </div>
    <div class="col-sm-6">
        <h4 style="font-weight: bold; text-align: center">直銷?!</h4>
        <a href="/comment/21/"><img src="/static/2015-12-27/Wbe6eE2abOkze13r2z1bRDRX5FTxqqSTbKkIDyZE.jpg" style="width: 100%"></a>
<!--         <h4 style="font-weight: bold; text-align: center">圖片標題</h4>
        <a href="#"><img src="/static/img/example.jpg" style="width: 100%"></a>
        <h4 style="font-weight: bold; text-align: center">圖片標題</h4>
        <a href="#"><img src="/static/img/example.jpg" style="width: 100%"></a> -->
    </div>
</div>
{%endblock%}